.welcome {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 55px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 425px;
  gap: 30px;
}

.img {
  position: relative;
  right: 0;
}