.text-norm,
.textNorm {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0px;
}

.text-large,
.textLarge {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.text-small,
.textSmall {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.text-passive--3,
.textPassive3 {
  color: rgba(44, 59, 72, 0.3);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.title-med,
.titleMed {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;

}

.dropdown-point,
.dropdownPoint {
  color: rgba(44, 59, 72, 0.6);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.dropdown-sub-point,
.dropdownSubPoint {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0px;
}

.link-text-norm,
.linkTextNorm {
  color: rgb(0, 117, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.link-text-mini,
.linkTextMini {
  font-family: Montserrat;
  color: rgb(0, 117, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;

}

.sign-text,
.signText {
  font-family: Montserrat;
  color: rgba(44, 59, 72, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;

}

.header-nav-text,
.headerNavText {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0px;
}

.heading {
  color: rgba(44, 59, 72, 1);
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  user-select: none;
}

.button-text-norm,
.buttonTextNorm {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.button-text-med,
.buttonTextMed {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 142.5%;
  letter-spacing: 0px;

}

.card-title,
.cardTitle{
  color: rgba(44, 59, 72, 1);;
font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 68px;
letter-spacing: 0px;
text-align: left;
}

@media (max-width:1024px) {

  .dropdown-point,
  .dropdownPoint,
  .dropdown-sub-point,
  .dropdownSubPoint {
    color: rgba(44, 59, 72, 0.6);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 142.5%;
    letter-spacing: 0px;

  }

  .header-nav-text,
  .headerNavText {
    color: rgb(44, 59, 72, );
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.5%;
    letter-spacing: 0px;

  }


  .text-large,
  .textLarge {
    color: rgba(44, 59, 72, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 142.5%;
    letter-spacing: 0px;

  }

  .button-text-norm,
  .buttonTextNorm {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.5%;
    letter-spacing: 0px;

  }
  .heading{
    color: rgba(44, 59, 72, 1);
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 51.5px;
    letter-spacing: 0px;
    text-align: left;
  }

  .card-title,
  .cardTitle{
    color: rgba(44, 59, 72, 1);;
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 68px;
letter-spacing: 0px;
user-select: none;
  }
}

@media(max-width:480px) {

  .link-text-mini,
  .linkTextMini,
  .sign-text,
  .signText {
    font-size: 12px;
  }
}