.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 55px;
  position: relative;
  background-color: white;
}

.header>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width:1024px) {
  .header {
    padding: 24px 40px;
  }
}

@media (max-width:480px) {
  .header {
    padding: 16px 20px;
  }
}